<div class="jumbotron text-center">
  <h1 class="title">Welcome to tinito</h1>
  <h3 class="text-center">where you can <u>only</u> find the cheapest prices online...</h3>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <% if current_user %>
          <%= link_to "Finalize Profile", edit_user_registration_path %>
      <% else %>
        <h2 class="text-center"><span style="color: #e67e22">Membership</span></h2>
        <h5>Pay <span class="plan-price">$49.95</span>/year and receive the best prices you can't find.</h5>
        <%= link_to '<i class="fa fa-pencil-square-o"></i> Sign Up Today'.html_safe, new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

<script>
    var handler = StripeCheckout.configure({
        key: 'pk_test_pYN6gC4ZhlPu2JcjOAiYAkh9',
        image: '/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
            // Use the token to create the charge with a server-side script.
            // You can access the token ID with `token.id`
        }
    });

    $('#customButton').on('click', function(e) {
        // Open Checkout with further options
        handler.open({
            name: '<%= @pro_plan.name%>',
            description: 'Awesome yearly plan',
            currency: "usd",
            amount: <%= @pro_plan.price * 100 %>
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
        handler.close();
    });
</script>