<ul class="products-page">
  <% @products.each do |product| %>
      <li><%= product.name %></li>
      <li><%= image_tag product.image.url(:medium) %></li>
      <li><%= product.description %></li>
      <strong><li><span class="price">$<%= product.price %></span></li></strong>
  <% end %>
</ul>